<h1 class="text-center">Sign Up</h1>

<%= form_with model: @user, url: sign_up_path do |form| %>

  <%= render "shared/form_errors", object: form.object %>

  <div class="form-floating mb-3">
    <%= form.text_field :username, required: true, class: "form-control", placeholder: "username"%>
    <%= form.label :username  %>
  </div>
  <div class="form-floating mb-3">
    <%= form.email_field :email, required: true, class: "form-control", placeholder: "email" %>
    <%= form.label :email %>
  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password, required: true, class: "form-control", placeholder: "senha" %>
    <%= form.label :password %>
  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password_confirmation, required: true, class: "form-control", placeholder: "confirme sua senha" %>
    <%= form.label :password_confirmation %>

  </div>

  <%= form.submit "Sign Up", class: "btn btn-success" %>


<% end %>