<%= form_with url: password_path(params[:password_reset_token]), scope: :user, method: :put do |form| %>
  <div class="form-floating mb-3">
    <%= form.password_field :password, required: true, class: "form-control", placeholder: t("password_field") %>
    <%= form.label :password %>

  </div>
  <div class="form-floating mb-3">
    <%= form.password_field :password_confirmation, required: true, class: "form-control", placeholder: t("password_confirmation_field") %>
    <%= form.label :password_confirmation %>
  </div>
  <%= form.submit "Update Password", class: "btn btn-danger" %>
<% end %>