<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>RailsBlog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">

    <%= link_to "Start Bootstrap", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Publicar", new_post_path, class: "nav-link px-lg-3 py-3 py-lg-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", logout_path, data: { turbo_method: :delete }, class: "nav-link px-lg-3 py-3 py-lg-4" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", login_path, class: "nav-link px-lg-3 py-3 py-lg-4" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign-up", sign_up_path, class: "nav-link px-lg-3 py-3 py-lg-4" %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>
<%= yield %>

<!-- Footer-->
<footer class="border-top">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
      </div>
    </div>
  </div>
</body>
</html>
